
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
body {
  /* bacground image front page */

/* 	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/84d7d666822745.5b234257f1af1.gif) no-repeat center center fixed;
  background-size: cover; */
	
/* 	background: url(images/demo/background3.gif) no-repeat center center fixed; */
/*   background-size: cover; */
	
	
/* 	background-image: url(images/demo/background3.gif); */

	
/* 	font-family:  monospace;	list font names in order of preference */
	font-weight: normal;            /* normal, bold */
	font-style: normal;             /* normal, italic */
	font-variant: normal;           /* normal, small-caps */
	font-size: 16px;                /* font size */
/* 	color: #000000;                 /* hexadecimal RGB color code */ */
	text-decoration: none;          /* none, underline, overline, line-through */
	text-align: left;               /* left, right, center, justify */
	
	font-family: "Share Tech Mono", monospace;
	color:#fff;
	$white: #FFF;	
	
}

html {
    background: url(images/demo/background3.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

  h1 {
	position: absolute;
  	padding: 0;
  	top: 20px;
  	left: 10%;
  	font-size: 12em;
  	color: rgba(255, 255, 255, 0.5);
        font-family: "Share Tech Mono", monospace;
	  
    }

/* map image container  */
.responsive 
{
  width: 100%;
  height: auto;
}

/* general image container  */
.fancy  
{
	padding-left: 5%;
	min-height: 450px;         	/* same size  */
	/* next two lines for elder IE compatibility */
	height: auto !important; 
	height: 450px;            	/* same size  */
	

	/* Background color and gradients */
/* 	background: #eeeeee; */
/* 	background: -moz-linear-gradient(top, #ffffff, #cccccc); */
/* 	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cccccc)); */
	/* really nifty translucence */
/* 	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.8) ); */
/* 	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0.8) ), to( rgba(200, 200, 200, 0.8) )); */
	
	/* Rounded corners */
	/* -moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px; */
} 

/* Page text links */
a 
{
	padding-top: 5%;
	padding-left: 3%;
	font-size: 30px;
	color:#fff;
	margin: 50px  0px 0px 0.5px;
	text-decoration: none;
	font-family: "Share Tech Mono", monospace;
	
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out; 
}

.toc
{
	font-size: 18px;
}

a:hover 
{
	color:#fff;
	/*text-shadow: 1px 1px 0px #f00;
	/* gradual change */
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out; 
}

.superText
{
	color: #000;
}

a .superImage
{  
	height: 450px;                	/* same size  */
	width: 450px;			/* same size  */
	float:left;
	position: relative; 
	
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out; 
}  

a:hover .superImage
{  
	top: -10px;  
	
	/* fallback on standard opaque colors */
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	/* translucent: the way shadows should be */
	-moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}  


