@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

body {
  margin: 0;
  padding: 5%;
  font-family: "Share Tech Mono", monospace;
/* 
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/84d7d666822745.5b234257f1af1.gif)
    no-repeat center center fixed;
  background-size: cover; */

    background: url("background4.gif") no-repeat center center fixed; 
	background-size: cover;
}

header div img {
  width: 100%;
  height: auto;
  margin-top: 90px;
}

h1 {
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  text-decoreation: none;
/*   font-size: 40vw; */
	
   font-size: calc(160px + 0.10vw);  /*  min / max responsive text */
}

h3 {
  color: #fff;
  position: absolute;
  text-decoreation: none;
  letter-spacing: 0.2em;   /* reative character spacing */
  font-size: calc(22px + 0.10vw);  /*  min / max responsive text */
  
}

h2 { /*  navigation */
/*  display: inline;   /*  here */ */
  color: #fff;
/*   position: absolute; */
  text-decoreation: none;
/*   margin: 20px; */ 
  font-size: calc(34px + 0.10vw);  /*  min / max responsive text */
 padding: 30px;    /*  here */
}
p {
  color: #fff;
  font-size: calc(18px + 0.5vw);  /*  min / max responsive text */
}
a {
  color: #fff;
  font-size: 3vw;
  text-decoreation: none;
}
